<div class="container-md">
  <div class="row mt-5">
    <div class="col">
      <!-- addColor(from this component) & onAddColorCoustom(from child component) -->
      <app-coustom-add (onAddColorCoustom)="addColor($event)"></app-coustom-add>
    </div>
    <div class="col">
      <!-- CoustomItemList(from this component) & itemList(from child component) -->
      <app-coustom-list
        [itemList]="CoustomItemList"
        (getName)="onGetName($event)"
      ></app-coustom-list>
    </div>
  </div>
  <div class="row mt-5">
    <app-encapulation [selectedValue]="value"></app-encapulation>
  </div>
</div>
