<div style="margin: 25px 0px 0px 0px">
  <div class="row justify-content-around">
    <div class="col-md-12">
      <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Device Name</label>
              <input
                type="text"
                formControlName="deviceName"
                class="form-control"
                [class.is-invalid]="
                  registrationForm.get('deviceName')?.invalid &&
                  registrationForm.get('deviceName')?.touched
                "
              />
              <!-- {{ registrationForm.get("deviceName")?.errors | json }} -->
              <div
                *ngIf="
                  registrationForm.get('deviceName')?.invalid &&
                  registrationForm.get('deviceName')?.touched
                "
              >
                <small
                  class="text-danger"
                  *ngIf="registrationForm.get('deviceName')?.errors?.['required']"
                  >deviceName is required</small
                >
                <small
                  class="text-danger"
                  *ngIf="registrationForm.get('deviceName')?.errors?.['minlength']"
                  >deviceName must be at least 3 characters</small
                >
              </div>
            </div>
            <div class="form-group">
              <label>Brand</label>
              <select
                formControlName="brand"
                class="form-control"
                [class.is-invalid]="
                  registrationForm.get('brand')?.invalid &&
                  registrationForm.get('brand')?.touched
                "
              >
                <option value="any">Select Brand</option>
                <option *ngFor="let name of company" [value]="name">
                  {{ name }}
                </option>
              </select>
              <small
                class="text-danger"
                [class.d-none]="!registrationForm.get('brand')?.errors?.['validBrand']"
                >Please select Brand</small
              >
            </div>
            <div class="form-group">
              <label>Color</label>
              <input type="text" formControlName="color" class="form-control" />
            </div>
            {{ registrationForm.value | json }}
            <button
              type="button"
              class="btn btn-secondary btn-sm m-2"
              (click)="addAlternateinput()"
            >
              Add Input
            </button>
            <div
              formArrayName="alternateInputName"
              *ngFor="let input of alternateInput.controls; let i = index"
            >
              <input
                type="text"
                class="form-control my-1"
                [formControlName]="i"
              />
            </div>

            <button type="submit" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i>
              Add
            </button>
            <!-- formGroupName for nested object -->
            <div formGroupName="address">
              <div class="form-group">
                <label>City</label>
                <input
                  type="text"
                  formControlName="city"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label>State</label>
                <input
                  type="text"
                  formControlName="state"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label>Postal Code</label>
                <input
                  type="text"
                  formControlName="postalCode"
                  class="form-control"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Color</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allDevices; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.deviceName }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.color }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    style="margin-right: 30px"
                    (click)="onEdit(i)"
                  >
                    <i class="bi bi-pencil-square"></i> Edit
                  </button>
                  <button type="button" class="btn btn-outline-danger">
                    <i class="bi bi-trash3-fill"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
