<div class="row">
  <div class="col">
    <div class="card text-center mb-3" style="max-width: 18rem">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4>{{ currentWeather.name }}</h4>
          </div>
          <div class="col">
            <img class="imgSize" [src]="currentWeather.icon" alt="" />
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <div class="row">
            <div class="col align-self-start">Temperature</div>
            <div class="col align-self-end">{{ currentWeather.temp }}</div>
          </div>
        </h5>
        <p class="card-text">
          Wind Speed {{ currentWeather.wind }} {{ currentWeather.description }}
        </p>
        <p class="card-text">
          {{ currentWeather.description }}
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <apx-chart
      [series]="chartOptions.series || []"
      [chart]="chartOptions.chart"
      [title]="chartOptions.title"
      [stroke]="chartOptions.stroke"
    ></apx-chart>
  </div>
</div>
