<!-- <app-server></app-server> -->
<!-- <hr /> -->
<!-- Form add edit delete in same component -->
<!-- <div style="margin: 25px 0px 0px 0px">
  <div class="row justify-content-around">
    <div class="col-md-12">
      <app-reg-form></app-reg-form>
    </div>
  </div>
</div> -->
<!-- -->

<!-- split content in different component -->
<!-- <coustom></coustom> -->

<!-- service-study with seperate module -->
<!-- <hr /> -->
<!-- <weather></weather> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span style="color: white; font-size: 1.6rem">Welcome!</span>
    <div class="navbar-collapse ul-div" id="navbarResponsive">
      <ul class="navbar-nav">
        <li *ngFor="let item of link" class="nav-item mx-0 mx-lg-1" key="{i}">
          <a routerLink="/{{ item.address }}" class="li-a">
            {{ item.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
