<form>
    <div class="form-row">
        <div class="col-2">
            <span>Name</span>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="form-row">
        <div class="col-2">
            <span>Age</span>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Age">
        </div>
    </div>
    <div class="form-row">
        <div class="col-2">
            <span>Sex</span>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Sex">
        </div>
    </div>
    <div class="form-row">
        <div class="col-2">
            <span>City</span>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="City">
        </div>
    </div>
</form>